# 编译垃圾
*.ko
*.o
*.mod*
*.order
*.symvers
.tmp_versions/
/server/server
/driver/.*.cmd

# 敏感配置 (重要！)
config.json
frpc.ini
# 允许上传一个模板供他人参考
!frpc.ini.example
!config.json.example

# 系统与工具
.vscode/
__pycache__/
.DS_Store